
#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

Library
Temp
/PazuGra/Library
PazuGra/Assets/AssetStore.meta
PazuGra/Assets/AssetStore/CarbonConcept.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Background.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Background/Materials.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Background/Materials/New folder.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Background/Materials/Thumbs.db.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/LightSpeed.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/LightSpeed/Font.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/LightSpeed/Font/Thumbs.db.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/LightSpeed/Thumbs.db.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/Loader_1.meta
PazuGra/Assets/AssetStore/CarbonConcept/Sci-Fi Loaders/Sprites/Loader_1/Thumbs.db.meta
